body {
  background-color: #fcfcf9;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #fcfcf9;
}

#photo {
  background-image: url('img/9.jpg');
  width: 1049px;
  height: 700px; 
  text-align: right;
  margin: auto;
  margin-top: 50px;
  position: relative;
  top: 50%; 
}

#photo h1 {
  padding-top: 300px;
  padding-right: 50px;
}

#photo ul {
  padding-right: 50px;
  font-size: 20px;
  list-style-type: none;
}

a {
  color: #fcfcf9;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  text-decoration: none;
}
